{% extends "base.html"%}


{%block content%}
<div style="padding: 5px; margin: 5px;" class="font-p">
<h1>Don</h1>
<h3>Si vous rencontrez des problemes, veuillez nous le faire savoir :</h3>
<a href="idelearning@gmail.com">idelelearning@gmail.com</a> <br>


<h3>Vos dons sont précieux pour nous aider aux petites bourses ! allez-y faites nous un don.</h3> <br>
<p>IDEL est une institution qui se donne l’objectif de rendre le plus que possible l’accès à une éducation de qualité. <br>
Vos dons serviront à octroyer des bourses aux plus démunis qui n’ont pas accès à une formation de qualité. </p>
<br>
<div style="background-color: red; width : 50%; box-shadow: 6px 8px 5px 5px rgb(206, 160, 160); ">
<h1 style="color:white;">MON CASH</h1>
<p style="color: white;"><strong> NUMERO MON CASH:</strong>+(509) 37884517</p>
<p style="color: rgb(230, 224, 224);"><strong>NOM:</strong>Seth REMY</p> <br>
</div>

<div class="about-idel">
    <div>
        <h3> Faire un don </h3> 
<p> IDEL est une entreprise sociale à but non lucratif qui se spécialise dans le domaine de l’apprentissage en ligne (E-learning). A travers notre plateforme numérique, des services de qualité sont à la disposition de toutes personnes voulant se former davantage pour un avenir meilleur. Quand vous faites un don à IDEL, vous investissez en vous-même et vous aidez les autres à s’investir en eux au meilleur endroit. </p>


<h3> Pourquoi faire un donà IDEL ? </h3>
<p> <strong>Vous faites un don à IDEL parce que </strong> : </p>

<p>•	IDEL s’est engagé dans la lutte pour l’éducation qui est le 4eme objectif de développement durable.</p>
<p>•	Nous mettons notre plateforme à la disposition de n’importe quelle institution voulant former des individus grâceà notre service gratuit « IDEL OPEN UP ».</p>
<p>•	En tant que meilleur endroit où les humains s’investissent en eux, faire un don à IDEL implique qu’on investit en soi et aux autres.</p>
<p>•	Vous permettez à beaucoup plus de personnes d’avoir l’accès aux Nouvelles Technologies de l’Information, de la Communication et de l’Enseignement (NTICE)</p>


<h3>Votre don compte-t-il vraiment ? </h3>
<p> Votre don compte beaucoup pour l’IDEL. Les dons reçus sont collectés au bénéfice des personnes qui ont besoin de se former mais qui n’ont pas les moyens. Chaque dollar reçu sera strictement mis au service pour changer des vies en investissant dans l’humain. </p>


<h3>Importance de votre don (Ce que votre don soutient) </h3>
<p>Votre don est d’une capitale importance. En nous faisant un don, vous soutenez plusieurs choses sous différents aspects : </p> 


<h3>Aspect financier </h3>
<p>Il y a des personnes qui aimeraient ou qui ont besoin de suivre nos cours et des apprenants qui ont besoin d’un certificat valable, mais qui n’ont pas les moyens. En ce sens, votre don leur soutient financièrement.
Aspect géographique </p>
 <p>Votre don nous aide à améliorer la qualité de nos services et nous permettra d’offrir plus de cours (gratuits et/ou payants) dans les langues maternelles de nos apprenants partout ou qu’ils soient.
Aspect coaching </p>
<p>Promouvoir l’entrepreneuriat en nous permettant d’avoir beaucoup plus d’experts au service des institutions dans notre programme coaching. </p>
<h3>Aspect social </h3>
<p>Socialement et moralement, vous apportez votre soutient au service IDEL OPEN UP qui vise à mettre notre plateforme au service des institutions voulant former des gens.</p>

    </div>
</div>


{%endblock%}