{% extends "base.html"%}


{%block content%}
<h1>Don</h1>
<p>Si vous rencontrez des problemes, veuillez nous le faire savoir :</p>
<a href="#">maximemilien01@gmail.com</a> <br>
<a href="#">jamesdestiene79@gmail.com</a>

<p>ce projet repose sur vos genereux don en nous aidant vous pourrez 
    devenir notre sponsor nous comptons sur votre sensibilite
</p><br>
<h2>Mon cash</h2>
<p><strong> NUMERO MON CASH:</strong>+(509) 31653993</p>
<p><strong>NOM:</strong>Maxime Milien </p> <br>

<p><strong>NUMERO MON CASH:</strong>  +(509) 43543365</p>
<p><strong>NOM:</strong>  Seth REMY</p> <br>

<h2>SOGEBANK (HT)</h2>

<P><strong>NUMERO DE COMPTE:</strong>  65367 65836</P>
<p><strong>NOM DU COMPTE:</strong>  SETH EMILIE-JOSEPH</p>







{%endblock%}