{% extends 'base.html'%}

{% block content %}
     <div class="about-idel">
        
        <div>
            <h1>A propos IDEL</h1>
<p> <strong>IDEL (Institut de Développement Personnel, de Leadership et d’Entrepreneuriat) est une entreprise sociale à but non lucratif spécialisée dans le domaine de l’apprentissage en ligne (e-learning). Nous poursuivons les objectifs suivants : </strong> </p>
<p>1.	Grâce aux outils de la technologie, nous voulons faciliter l’accès en grandnombre à des cours dans plusieurs domaines.</p>
<p>2.	Nous avons un dispositif d’accompagnement/ d’orientation à travers notre programme de coaching.</p>
<p>3.	Nos programmes permettent aux bénéficiaires de maitriser leur domaine de travail, d’obtenir leur plein épanouissement autant sur le plan personnel que professionnel.</p>


<h1>D’où vient l’idée</h1>
<p>IDEL est le fruit de l’observation de l’utilisation des Nouvelles Technologie de l’Information et de la Communication (NTIC) par la population mondiale et un accès limité à une formation continue. La période du confinement due à la pandémie du COVID-19 paralyse la vie routinière des gens. Bien avant la pandémie, nous avons connu des moments d’instabilité ‘’ pays lock’’ en 2019. Le système éducatif en a fait les frais, vu que les institutions scolaires/universitaires et autres ne sont pas numérisées. </p>

<p>En ce sens, nous, les fondateurs, avions mis sur pied une plateforme numérique e-learning où les utilisateurs peuvent suivre des formations presque gratuites en vidéo, documents en formats Word, PDF, Powerpoint facilement accessible n’importe où, avec leur rythme d’apprentissage et avec option de certifications après les évaluations. </p>


        </div>

     </div>
{% endblock%}