{% extends "base.html"%}

{%block content%}
<h2>A. Introduction</h2>
<p>La confidentialité des visiteurs de notre site web est très importante à nos yeux, et
 nous nous engageons à la protéger. Cette politique détaille ce que nous faisons de vos 
 informations personnelles. </p>
<p>Consentir à notre utilisation de cookies en accord avec cette politique lors de votre première
 visite de notre site web nous permet d’utiliser des cookies à chaque fois que vous consultez
  notre site.</p>
{%endblock%}