{% extends "base.html"%}

{%block content%}
<div style="padding: 10px; margin: 8px;">
  
<h2>A. Introduction</h2>
<p>La confidentialité des visiteurs de notre site web est très importante à nos yeux, et
 nous nous engageons à la protéger. Cette politique détaille ce que nous faisons de vos 
 informations personnelles. </p>
<p>Consentir à notre utilisation de cookies en accord avec cette politique lors de votre première
 visite de notre site web nous permet d’utiliser des cookies à chaque fois que vous consultez
  notre site.</p>



<h2>B. Source</h2>
<p>Ce document a été créé grâce à un modèle de SEQ Legal (seqlegal.com)<br>
Et a été modifié par IDEL (www.idel-edu.com)</p>
<h2>C. Collecte d’informations personnelles</h2>  
  <p>Les types d’informations personnelles suivants peuvent collectés, stockés et utilisés : </p>
  <p>Des informations à propos de votre ordinateur, y compris votre adresse IP, votre localisation géographique,
     le type et la version de votre navigateur, et votre système d’exploitation ; </p>
   <p>Des informations sur vos visites et votre utilisation de ce site web y compris la source référente, 
     la durée de la visite, les pages vues, et les chemins de navigation de sites web ; </p>
   <p>Des informations comme votre adresse e-mail, que vous nous fournissez lors de votre inscription au site ;</p>
  <p>Des informations que vous saisissez quand vous créez un profil sur notre site web comme votre nom, votre 
     de profil, votre genre, votre date de naissance, votre parcours scolaire et votre parcours professionnel ; </p>
  <p>Des informations comme votre nom et votre adresse e-mail, que vous saisissez pour souscrire à nos e-mails et/ou newsletters ; </p>
 <p>Des informations que vous saisissez quand vous utilisez les services de notre site web ;
  Des informations générées lors de l’utilisation de notre site, y compris quand, à quelle fréquence et sous 
   circonstances vous l’utilisez ; </p>
<p>Des informations relatives aux cours que vous suivez, aux services que vous utilisez ou aux transactions que vous 
   sur notre site, qui incluent votre nom, adresse, numéro de téléphone, adresse e-mail et informations bancaires ; </p>
<p>Des informations que vous publiez sur notre site web dans l’intention de les publier sur internet, et
   qui incluent votre identifiant, vos photos de profil et le contenu de vos publications ; </p>
</p>Des informations contenues dans toutes les communications que vous nous envoyez par e-mail ou sur notre
 site web, y compris leurs contenus et leurs métadonnées ; </p>
<strong>Toute autre information personnelle que vous nous communiquez. </strong>
<p>Avant de nous divulguer des informations personnelles concernant une autre personne, vous devez obtenir le
   consentement de ladite personne en ce qui concerne la divulgation et le traitement de ces informations 
   personnelles selon les termes de cette politique</p>
<h3>D. Utilisation de vos informations personnelles </h3>
<p>Les informations personnelles qui nous sont fournies par le biais de notre site web seront utilisées dans 
   objectifs décrits dans cette politique ou dans les pages du site pertinentes. Nous pouvons utiliser vos informations personnelles pour: </p>
 <p>Administrer notre site web et notre entreprise ; </p>
 <p>Personnaliser notre site web pour vous ; </p>

 <p>Permettre votre utilisation des services proposés sur notre site web ; </p>

 <p>Vous fournir les services achetés sur notre site ;  </p>
 <p>Vous envoyer des relevés, des factures et des rappels de paiement, et collecter vos paiements ;  </p>
 <p>Vous envoyer des communications commerciales non relatives au marketing ;  </p>
 <p>Vous envoyer notre newsletter par mail, si vous l’avez demandé  </p>
 (vous pouvez nous informer à tout moment de votre volonté  
 de ne plus recevoir notre newsletter) ;  </p>
 <p>Vous envoyer des communications marketing relatives à notre entreprise ou à des entreprises tierces sélectionnées
    avec soin qui selon nous pourraient vous intéresser, sous forme de publication, ou si vous avez expressément donné
     votre accord, par e-mail ou technologie similaire (vous pouvez nous informer à tout moment de votre volonté
      de ne plus recevoir de communications marketing) ; </p>

 <p>Fournir des informations statistiques à propos de nos utilisateurs à des tierces parties (sans que ces 
    parties puissent identifier d’utilisateur individuel avec ces informations) ; </p>
<p>Traiter les demandes et les réclamations relatives à votre site web effectuées par vous ou vous concernant ; </p>
 <p>Maintenir la sécurité de notre site web et empêcher la fraude ;</p>
<p>Vérifier le respect des conditions générales qui régissent l’utilisation de notre site web (y compris surveiller les messages
   privés envoyés par le biais du service de messagerie privé de notre site web) ; et
D’autres utilisations. </p>
<p> vous soumettez des informations personnelles sur notre site web dans le but de les publier, nous les publierons et pourrons
   utiliser ces informations conformément aux autorisations que vous nous accordez. </p>
<p>Vos paramètres de confidentialité peuvent être utilisés pour limiter la publication de vos informations sur notre site web et
   peuvent être ajustés dans vos paramètres de confidentialité sur le site web.</p>
<p>Sans votre consentement explicite, nous ne fournirons pas vos informations personnelles à des tierces parties
   pour leur marketing direct, ni celui d’autres tierces parties. </p>
 <h3>E. Divulgation de vos informations personnelles </h3>

<p>Nous pouvons divulguer vos informations personnelles à n’importe lequel de nos employés, dirigeants, assureurs
  , conseillers professionnels, agents, ou sous-traitants dans la mesure où cela est raisonnablement nécessaire aux fins énoncées 
  dans cette politique. </p>
<p>Nous pouvons divulguer vos informations personnelles à n’importe quel membre de notre groupe d’entreprises 
  (cela signifie nos filiales, notre société holding ultime et toutes ses filiales) dans la mesure où cela est 
  raisonnablement nécessaire aux fins énoncées dans cette politique. </p>
<p>Nous pouvons divulguer vos informations personnelles:  </p>
<p>Dans la mesure où nous sommes tenus de le faire par la loi ;  </p>
<p>Dans le cadre de toute procédure judiciaire en cours ou à venir ;  </p>
<p>Pour établir, exercer ou défendre nos droits légaux (y compris fournir des informations à d’autres à des 
  fins de prévention des fraudes et de réduction des risques de crédit) ;  </p>
<p>À l’acheteur (ou acheteur potentiel) de toute entreprise ou actif en notre possession que nous souhaitons
   (ou envisageons de) vendre ; et  </p>
<p>À toute personne que nous estimons raisonnablement faire partie intégrante d’un tribunal ou autre autorité
   compétente pour la divulgation de ces informations personnelles si, selon notre opinion, un tel tribunal ou une telle 
   autorité serait susceptible de demander la divulgation de ces informations personnelles. </p>
Sauf disposition contraire de la présente politique, nous ne transmettrons pas vos informations personnelles à des tierces parties.  </p>
<h3>F. Transferts internationaux de données </h3>
<p>Les informations que nous collectons peuvent être stockées, traitées et transférées dans tous les pays dans
   lesquels nous opérons, afin de nous permettre d’utiliser les informations en accord avec cette politique. </p>
<p>Les informations que nous collectons peuvent être transférées dans tous les pays que nous operons. </p>
<p>Les informations personnelles que vous publiez sur notre site web ou que vous soumettez à la publication 
  peuvent être disponibles, via internet, dans le monde entier. Nous ne pouvons empêcher l’utilisation, bonne
   ou mauvaise, de ces informations par des tiers. </p>
<p>Vous acceptez expressément le transfert d’informations personnelles décrit dans cette Section F. </p>
<h3>G. Conservation de vos informations personnelles </h3>
<p>Cette Section G détaille nos politiques de conservation des données et nos procédures, conçues 
  pour nous aider à nous conformer à nos obligations légales concernant la conservation et la suppression d’informations personnelles.</p>
<p>Les informations personnelles que nous traitons à quelque fin que ce soit ne sont pas conservées
   plus longtemps que nécessaire à cette fin ou à ces fins.</p>
<p>Sans préjudice à l’article G-2, nous supprimerons généralement les données personnelles de ces
   catégories à la date et à l’heure précisées plus bas:</p>
<p>Ce type de données personnelles sera supprimé {ENTREZ LA DATE/L’HEURE} ; et </p>
<p>{ENTREZ D’AUTRES DATES/HEURES}.</p>
<p>Nonobstant les autres dispositions de cette Section G, nous conserverons des documents (y compris 
  des documents électroniques) contenant des données personnelles:</p>
<p>Dans la mesure où nous sommes tenus de le faire par la loi ;</p>
<p>Si nous pensons que les documents peuvent être pertinents pour toute procédure judiciaire en cours
   ou potentielle ; et
<p>Pour établir, exercer ou défendre nos droits légaux (y compris fournir des informations à d’autres 
  à des fins de prévention des fraudes et de réduction des risques de crédit).</p>
<h3>H. Sécurité de vos informations personnelles </h3>
<p>Nous stockerons toutes les informations personnelles que vous nous fournissez sur des serveurs 
  sécurisés (protégés par mot de passe et pare-feu). </p>
<p>Toutes les transactions financières électroniques effectuées par le biais de notre site web seront 
  protégées par des technologies de cryptage. </p>

<p>Vous reconnaissez que la transmission d’informations par internet est intrinsèquement non sécurisée, et
   que nous ne pouvons pas garantir la sécurité de vos données envoyées par internet. </p>

<p>Vous êtes responsable de la confidentialité du mot de passe que vous utilisez pour accéder à notre site
   web ; nous ne vous demanderons pas votre mot de passe (sauf quand vous vous identifiez sur notre site web). </p>
<h3>I. Amendements </h3>

<p>Nous pouvons parfois mettre cette politique à jour en publiant une nouvelle version sur notre site 
  web. Vous devez vérifier cette page régulièrement pour vous assurer de prendre connaissance de tout
   changement effectué à cette politique. Nous pouvons vous informer des changements effectués à cette 
   politique par courrier électronique ou par le biais du service de messagerie privée de notre site web. </p>
 <h3>J. Vos droits </h3>
<p>Vous pouvez nous demander de vous fournir toute information personnelle que nous détenons sur vous
   ; le transfert de telles informations sera soumis à la condition suivante : </p>
 
 <p>La présentation de preuves suffisantes de votre identité (à ces fins, nous acceptons en général un
   e photocopie de votre passeport certifiée par notaire plus une copie originale d’une facture de service public indiquant votre adresse actuelle). </p>

<p>Nous pouvons retenir les informations personnelles que vous demandez dans la mesure autorisée par la loi.</p>
<p>Vous pouvez nous demander à tout moment de ne pas traiter vos informations personnelles à des fins marketings.</p>

<p>En pratique, vous exprimerez expressément et à l’avance votre accord pour que nous utilisions vos
   informations personnelles à des fins marketings ou nous vous fournirons une opportunité de refuser
    l’utilisation de vos informations personnelles à des fins marketings. </p>
</div>
{%endblock%}