{% extends "base.html" %}

{% block content %}

<div class="all">
    <div class="general left" id="gch">
        <div class="head-left">
            <H3>GESTION DE CONFLIT</H3>
        </div>
        
            <!-- &&&&&&&&&&&&&&&&&&&&&& MODULE 1  &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&-->
        <div>
            <p id="first" class="design-mod"><strong>MODULE 1:</strong>: Le conflit, ses types, ses lieux et ses sources</p>
            <ul id="chapter">
                <li class="one hide"><strong>Leçon 1:</strong>Qu’est-ce qu’un conflit ? </li>
                <li class="two hide"><strong>Leçon 2:</strong>Quels sont les types de conflits ?</li>
                <li class="three hide" ><strong>Leçon 3:</strong>: Quels sont les lieux et les sources des conflits ?</li>
                <li class="hide" id="quizz1"><a href="{% url 'Quizz' %}">QUIZZ 1</a></li>
            </ul>
        </div>
                <!-- &&&&&&&&&&&&&&&&&&&&&&&&&&&&& MODULE 2 &&&&&&&&&&&&&&&&&&&&&&&&&-->
        <div>
            <p class="design-mod" id="deuxieme"><strong>MODULE 2:</strong>Les attitudes des acteurs dans les conflits et les aspects des conflits</p>
            <ul id="chapter">
                <li class="four nnon1 hiden"><strong>Leçon 4:</strong>Quelles attitudes peut-on avoir dans un conflit ?</li>
                <li class="five none1 hiden"><strong>Leçon 5:</strong>Quels sont les acteurs dans les conflits ?</li>
                <li class="six hiden"><strong>Leçon 6:</strong>Quels sont les aspects que peuvent avoir les conflits ?</li>
                <li class="hiden">QUIZZ 2</li>
            </ul>
        </div>
        <!--&&&&&&&&&&&&&&&&&&&&Module 3 &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&-->
        <div>
            <p class="design-mod" id="four-time"><strong>MODULE 3:</strong>L’analyse et la prévention des conflits</p>
            <ul id="chapter">
                <li class="seven cacher"><strong>Leçon 7:</strong>est la différence entre conflit, crise et violence ?</li>
                <li class="height cacher"><strong>Leçon 8:</strong>Comment analyser un conflit ?</li>
                <li class="nine cacher"><strong>Leçon 9:</strong>Comment prévenir les conflits ?</li>
                <li class="cacher"><a href="#"><strong>QUIZ 3</strong></a></li>
            </ul>
        </div>

        <!-- &&&&&&&&&&&&&&&&&&&&&&&&&&&module 4 &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& -->
        <div>
            <p class="design-mod" id="seven-time"><strong>MODULE 4:</strong>Modes de résolution de conflits</p>
            <ul id="chapter">
                <li class="ten cacher4"><strong>Leçon 10:</strong>Comment négocier lors des conflits ?</li>
                <li class="onze cacher4"><strong>Leçon 11:</strong>Comment faire de la médiation lors des conflits ?</li>
                <li class="douze cacher4"><strong>Leçon 12:</strong>Comment résoudre les conflits ?</li>
                <li class="cacher4"><a href="#"><strong>QUIZ 4</strong></a></li>
            </ul>
        </div>
    
        <p style="color: red;">NB: Vous pouvez cliquez sur les modules pour reduire les lecons </p>
        <p  class="btn" id="btn3">INFO</p>
        
    </div>




    <div class="side right" id="drt">
        <!-- Creation du bouton qui fermera la partie gauche-->
        <div class="menu-btn" id="first-btn"  style="padding-bottom: 15px; margin-bottom: 17px;">
            <div class="menu-btn__burger"></div>
        </div>
        
        <div id="result">
            <div class="head-left"><h3>Présentation du cours</h3></div>

            <p> Ce cours intitulé "conflit “. Comment les prévenir, les gérer et les résoudre ?
                 Est conçu dans le but de permettre au grand public d'acquérir des connaissances sur
                  ce que c'est un conflit, sur comment prévenir un conflit, sur comment gérer un conflit et sur comment résoudre un conflit. </p>
            
                 <h2> Pourquoi suivre cette formation ? </h2>
            <p>Cette formation permettra aux participants de comprendre les conflits dans les entreprises,
                 dans les organisations et dans les autres institutions. </p>
                 <p>  Avec le certificat le participant aura la reconnaissance de IDEL, et peut jouir de nombreux 
                     avantages du sein des entreprises et peut également avoir beaucoup plus de chance sur
                      le marché du travail </p>

                      <div class="head-left">
                        <h3> PLAN DU COURS </h3>
                        </div>
                        
                        <strong> CONFLITS : Comment les prévenir, les gérer et les résoudre ? </strong>
                        
                                                                  <strong>  PLAN </strong> 
                        <strong> Module 1 : Le conflit, ses types, ses lieux et ses sources </strong> 
                                        <p> <strong>   Leçon 1 : </strong> Qu’est-ce qu’un conflit ?  </p>
                                          <p> <strong>  Leçon 2 : </strong>Quels sont les types de conflits ? </p>
                                          <p> <strong>  Leçon 3 : </strong>Quels sont les lieux et les sources des conflits ? </p>
                        <strong>Quiz 1 </strong>
                        <strong>Module 2 : Les attitudes des acteurs dans les conflits et les aspects des conflits </strong>
                                      <p> <strong>      Leçon 4 : </strong>Quelles attitudes peut-on avoir dans un conflit ? </p>
                                        <p> <strong>     Leçon 5 :</strong> Quels sont les acteurs dans les conflits ? </p>
                                         <p> <strong>    Leçon 6 :</strong> Quels sont les aspects que peuvent avoir les conflits ?</p>
                        <strong>Quiz 2</strong>
                        <strong>Module 3 : L’analyse et la prévention des conflits </strong>
                                       <p> <strong>      Leçon 7 :</strong> Quelle est la différence entre conflit, crise et violence ? </p>
                                         <p> <strong>    Leçon 8 :</strong> Comment analyser un conflit ? </p>
                                         <p> <strong>    Leçon 9 :</strong> Comment prévenir les conflits ? </p>
                        <strong>Quiz 3.,/strong>
                        <strong> Module 4 : Modes de résolution de conflits </strong>
                                         <p> <strong>  Leçon 10 :</strong> Comment négocier lors des conflits ? </p>
                                        <p> <strong>   Leçon 11 : </strong>Comment faire de la médiation lors des conflits ? </p>
                                        <p> <strong>   Leçon 12 :</strong>Comment résoudre les conflits ? </p>
                        <strong>Quiz 4 (final) </strong>
                        
            
            
        </div>

        <div class="hidden">
             
            <!-- ########################## MODULE 1 LECON 1 ####################################-->
            <div id="one">
                <h2> Module 1 : Le conflit, ses types, ses lieux et ses sources </h2>
                               <h3>   Leçon 1 : Qu’est-ce qu’un conflit ? </h3>
<p> <strong>Définition : </strong> Le mot « conflit » n’a pas une définition exacte, le mot a plusieurs acceptions :
     une première qui vient du latin « configere » qui en français signifie « heurter », une deuxième qui vient encore du latin
      'conficture' qui signifie choc. </p> <br>

<p>Selon le petit Larousse 2010, le conflit se définit comme étant un antagonisme, une opposition de sentiments,
     d’opinion entre des personnes et des groupes. Selon ce même ouvrage, dans une conception psychologique le 
     conflit est un antagonisme, opposition de motivation ou des conceptions contradictoires chez une
      même personne ou au sien d’un groupe.</p> <br>

<p>Par ce qu’il est, par ce qu’il fait, par ce qu’il devient, le conflit 
    se définit au sens profond ou authentique, comme l’affrontement de deux ou plusieurs
     volontés individuelles ou collectives qui manifestent les unes à l’égard des autres
      une intention hostile.</p>

            </div>

            <!-- ######################### MODULE 1 LCEON 2 ###################################-->
            <div id="two">
                <h2>Leçon 2 : Quels sont les types de conflit ? </h2>
<p>Il existe plusieurs types de conflit. Un conflit peut être interpersonnel,
 intra personnel, intergroupe, intragroupe et intra organisationnel. </p>
<p> <strong> 1)	Conflit interpersonnel :</strong> Ce type de conflit met deux 
 plusieurs personnes en opposition. Ces deux ou plusieurs personnes qui se perçoivent
  eux-mêmes opposes entre eux au sujet de leurs préférences respectives en matière d’objectifs,
   de valeurs, d’attitudes, de comportements. </p>
 <h4>Il existe plusieurs types de conflit interpersonnel </h4>

<p>• <strong>	Conflit d’intérêt : </strong> Ce type de conflit oppose des groupes considérés
     comme homogène. On parle de conflit d’intérêt quand il y a divergence sur les résultats de chaque groupe ou personne. </p>

 <p> <strong>•	Conflit de pouvoir :</strong> Le conflit de pouvoir peut appeler également conflit d’autorité,
     il apparait entre des personnes de même rang hiérarchique qui s’opposent suite à l’empiètement par l’un sur les compétences de l’autre. </p>

  <p><strong>•	Conflit de concurrence :</strong> Ce conflit de rivalité est le plus souvent présent
     dans certains métiers ou certaines professions où la compétitivité, la recherche du temps et sa quantification sont rendus nécessaire.</p>

 <p> <strong>•	Conflit d’objectif :</strong> L’incompatibilité des buts, des issues préférées par les différentes parties est la cause principale de ce conflit. </p>
 <p>•	Le malentendu : C’est le plus fréquent des conflits et le plus facile à résoudre. C’est une divergence d’interprétation entre des personnes.</p>


<p> •	Conflit affectif : Dans ce type de conflit interpersonnel, les intéressés se fâchent mutuellement à 
    cause des sentiments ou émotions respectives des parties qui sont opposés. </p>


<p>2)	Conflit intra personnel : Crise interne qui se produit dans l’esprit d’un individu : désirs contradictoires,
     ambivalence de sentiments.
Ce conflit est causé par des raisons internes, c’est-à-dire cachées dans les contradictions de l’individu ; facteurs
 externes liés au statut de l’individu dans la société, facteurs externes dus au statut de l’individu dans un groupe social particulier.
Type de conflit intra personnel
<p>•	Conflit d’acceptation : Conflit dans lequel l’individu doit choisir entre deux ou plusieurs options qui conduisent à des résultats positifs.</p>


<p>•	Conflit d’évitement des choses : Conflit dans lequel l’individu doit choisir entre deux
     ou plusieurs options qui auront toutes des résultats négatifs.</p>


<p>•	Conflit entre acceptation et évitement : Conflit dans lequel un individu doit décider 
    de faire ou de ne pas faire une chose qui aura des conséquences simultanément négatives ou positives. </p>


<p>3)	Conflit intergroupe : Situation dans laquelle, il existe des désaccords et des heurts
     entre deux ou plusieurs groupes comme par exemple syndicat et direction, deux services distincts ou plusieurs entités
<p>Le conflit intergroupe se rapproche du conflit interpersonnel</p>

<h2>Type de conflit intergroupe</h2> 
<p>•	Conflit culturel : C’est un type de conflit mettant en opposition des groupes voulant imposer
     leur propre modèle culturel. Il relève également des différences de valeurs ou de croyances des antagonistes.</p>


<p>•	Conflit de génération : Ce genre de conflit est très remarquable au sein des organisations.
     C’est un conflit qui met en opposition des générations différentes.</p>


<p>4)	Conflit intragroupe : Situation dans laquelle les chocs se produisent entre les membres d’un groupe
     ou certains d’entre eux. Dans la majorité des cas, des conflits intra personnels et interpersonnels
      peuvent impliquer dans un conflit intragroupe.
Le conflit intragroupe se rapproche du conflit intra personnel.</p>



<p>5)	Conflit organisationnel : Ce type de conflit concerne les membres d’une organisation ou les employés 
    d’une entreprise. Ce conflit peut être causé par la manière dont les postes de travail sont définis, par
     la structure de l’organisation, par la répartition de l’autorité officielle.</p>

<h2>Type de conflit organisationnel</h2>
<p>•	Conflit vertical : Ce conflit résulte des heurts qui surviennent entre différents niveaux d’une organisation.</p>


<p>•	 Conflit horizontal : Ce conflit surgit lorsque chaque département s’acharne à poursuivre 
    ses seuls objectifs sans se préoccuper des conséquences que cela entraine pour les autres départements.</p>


<p>•	Conflit relatif aux rôles : Ce conflit se produit quand une personne donnée reçoit des
     messages et des pressions qu’elle perçoit comme étant incompatible entre eux. </p>

            </div>
            <!-- #################### MODULE 1 LECON 3 ########################-->
            <div id="three">
                <h2>Leçon 3 : Quels sont les lieux et les sources des conflits ? </h2>

                <p>Les institutions telles que la famille, l’école, les institutions religieuses, les entreprises, les organisations, les communautés sont les lieux de conflit. </p>
                                    <strong> Les sources de conflit </strong>      
                <p>Divergence des besoins ou désir</p> 
                
                <p>Les croyances</p> 
                
                <p>Désir mimétique</p> 
                
                <p>Communication</p> 
                
                <p>Compétition</p> 
                
                <p> <strong>Sources psychologiques : </strong> Quand on parle de sources psychologiques comme sources des conflits, on rentre directement dans la personnalité de l’individu. </p>
                <p>Les sources psychologiques se matérialisent sous formes diverses : l’angoisse, la dépression, l’agressivité, la frustration……et ont pour commun la durée assez longue de leurs effets.  </p>
                
                
            </div>
            <!-- ################### MODULE 2 LECON 4 ####################-->
            <div id="four">
                
<h2>Module 2 : Les attitudes des acteurs dans les conflits et les aspects des conflits </h2>

<strong> Leçon 4 : Quelles attitudes peut-on avoir lors des conflits ? </strong>
<p>Dans les conflits, on peut avoir plusieurs attitudes : <p>
<p> <strong>1)	Evitement : L’évitement est une attitude de fuite. Cette attitude s’affiche quand l’individu ignore le conflit ou fait sembler de l’ignorer </p> 
<p> <strong>2)	Réponse autoritaire ou oppressive : </strong> C’est une attitude d’attaque, avec cette attitude, l’individu devient violent. L’individu est prêt à
     confronter par une réponse autoritaire ou oppressive. </p> 
<p> <strong>3)	Attitude de manipulation : </strong>Cette attitude lui pousse à tenter de séduire ou de faire culpabiliser.</p> 
<p> <strong>4)	Dénégation : </strong>Quand l’individu nie les faits</p> 
<p> <strong> 5)	Démission :</strong> A travers cette attitude, l’individu s’accommode de la situation. Il s’est tombé dans une sorte de soumission. </p> 
<p> <strong>6)	Recherche de solutions : </strong>C’est une affirmation pacifiée. Cette attitude est certainement la plus réaliste et la plus utilisée.
     La recherche de l’établissement de la confiance constitue une des bases de cette attitude. C’est une approche non violente, la collaboration, le
      compromis sont les éléments clés.</p>
            </div>

            <!-- ####################  MODULE 2 LECON 5 ########################-->
            
            <div id="five">
                
<h2>Leçon 5 : Quels sont les acteurs dans les conflits ? </h2>

    <p>Les acteurs dans les conflits sont les protagonistes, ils peuvent s’affronter physiquement, matériellement, idéologiquement ou financièrement. </p> 
    <p>Dans un conflit, il faut distinguer ceux qui s’affrontent directement et ceux qui les soutiennent. Ceux qui s’affrontent directement sont souvent manipules par ceux qui les soutiennent et par ceux qui alimentent les bras de ceux qui les soutiennent. </p> 
    
    On distingue : 
    <p> <strong> Acteurs directs :</strong> Ceux qui s’affrontent directement ou qui sont face à face (2 individus, 2 groupes, 2 communautés). </p> 
    <p> <strong> Acteurs indirects :</strong> Ceux qui soutiennent matériellement, idéologiquement, financièrement ou socialement les acteurs qui s’affrontent physiquement . </p> 
            </div>

            <!-- #################### MODULE 2 LECON 6 ####################-->
             <div id="six"> 
                <h2>Leçon 6 : Quels sont les aspects que peuvent avoir les conflits ?</h2>

                <p>Les conflits peuvent avoir des aspects positifs et négatifs.</p>
                <strong> Aspects négatifs : </strong>
                <p>-	Dépense de temps </p>
                <p>-	Violation entre les personnes </p>
                <p>-	Détérioration, rupture des relations </p>
                <p>-	Rupture des communications </p>
                <p>-	Perceptions négatives envers l’autre </p>
                             <strong> Aspects positifs : </strong>
                <p>-	Permet la créativité </p>
                <p>-	Renforce l’image de soi </p>
                <p>-	Améliore la cohésion d’un groupe </p>
                <p>-	Responsabilise l’individu </p>
                <p>-	Fait avancer la société dans ses valeurs </p>
                <p>-	Stimule l’innovation </p>
                <p>-	Encourage la recherche d’une meilleure solution  </p>
                
                
             </div>


            <!--################### MODULE 3 LECON 7 ##################-->
                <div id="seven">
                    <h1> Module 3 : L’analyse et la prévention des conflits </h1>
                    <h2>Leçon 7 : Quelle est la différence entre conflit et crise ? </h2>
                   
                   <p>Dans le langage courant, la crise est un changement subi d’un état ou d’une situation ayant
                        des conséquences favorables ou défavorables, tandis que le conflit est un choc, un antagonisme,
                        une opposition de sentiments entre des personnes ou des groupes. </p>
                   <p>Sur le plan politique et international, la crise est une rupture d’équilibre qui se 
                       caractérise par un accès bref, soudain et violent. </p>
                   <strong> Il existe différents types de crise : </strong>
                   <p>1)	Crises planétaires </p>
                   <p>2)	Crises sanitaires </p>
                   <p>3)	Crises économiques </p>
                   <p>4)	Crises politiques (internationales, régionales, locales) </p>
                   
                   
                </div>

            <!-- #################### MODULE 3 LECON 8 #################-->
                <div id="height">
                    <h2> Leçon 8 : Comment analyser un conflit ? </h2>

<p>L’analyse des conflits nous permet de clarifier les différents problèmes à résoudre, 
    à identifier les causes fondamentales et profondes dans les conflits, à identifier les
     différents types d’acteurs, d’évaluer la capacité des acteurs à négocier entre eux, de 
     faire de la prévention, d’établir un rapport et une compréhension entre les différents acteurs.</p>
<strong>Pour analyser un conflit, il faut savoir : </strong>
 <p> <strong> •	Sur quoi porte le conflit : Quand on sait sur quoi porte le conflit, ça nous 
     aidera à mieux connaitre les causes fondamentales et profondes du conflit.

 <p> <strong> •	Qui est impliqué dans le conflit : Cette connaissance nous permettra de mieux 
     appréhender les acteurs direct et indirects. </p>


<p> <strong>  •	Quelles sont les attitudes des individus dans les conflits : Il faut analyser les
     attitudes des acteurs et ce qui les pousse à avoir telle ou telle attitude. </p>

 <p> <strong> •	Est-ce qu’il y avait une tentative de gestion de conflit auparavant ? : Il est 
     important de savoir s’il y avait des stratégies mises en place auparavant, si oui, a quels
      résultats ces stratégies ont abouti. Quels avantages et quels inconvénients y aurait-il à 
      poursuivre ces mêmes stratégies ? </p>


<p> <strong> •	Quels changements positifs ou négatifs que le conflit puisse apporter ? : Il faut
     savoir d’abord les aspects positifs et négatifs du conflit en question pour pouvoir mieux l’analyser. </p>

                </div>


            <!-- #################### MODULE 3 LECON 9 #################-->
                <div id="nine">
                    <h2>Leçon 9 : Comment prévenir les conflits ? </h2>

                    <p>La prévention de conflits sert à éviter les conflits ou limiter les effets des conflits.
                         Les conflits dépendamment du type peuvent prévenir par plusieurs méthodes :</p>
                    <p> <strong> 1)	Former et informer les individus : Cette méthode nous demande d’utiliser une
                         bonne communication avec les individus. On peut les former et les informer en organisant
                          des conférences et des colloques. </p>
                    
                    <p> <strong>  2)	Extirper le problème à la racine : Nous devons être très attentif, on doit toujours
                         pratiquer une écoute attentive pour voir s’il y a un changement d’attitude ou de comportement. Ça nous
                          permettra de résoudre le problème dès qu’il se présente. </p>
                    
                    <p> <strong> 3)	Etablir les règles à l’avance : En établissant les règles à l’avance, on évite les doutes, les
                         questionnements qui peuvent créer des conflits. </p>
                        </div>


            <!-- ##################### MODULE 4 LECON 10 ##################-->
                <div id="ten">
                    <h1> Module 4 : Modes de résolution de conflits </h1>
<h2>Leçon 10 : Comment négocier lors des conflits ? </h2>
	
 <p>La négociation est un processus par lequel deux ou plusieurs parties tentent de trouver
      une solution a un problème ou de trouver un moyen à gérer un conflit. On distingue deux types de négociation : </p>
 <p> <strong> 1)	Négociation conflictuelle (gagnant/perdant) : </strong> Dans ce type de 
    négociation, les intérêts semblent totalement opposés mais des préjugés concernant l’un
     ou l’autre des individus existent.  </p>
 <p> <strong>  2)	Négociation coopérative (gagnant/gagnant) : </strong> Dans ce type de
     négociation, on assiste à des compromis, des concessions, des consensus. </p>
Lors des conflits, on peut négocier par : 
 <p> <strong>  1)	La technique des pivots : </strong>On oblige l’adversaire à négocier sur des 
    objectifs en fait secondaire mais formulés de manière exigeante. </p>

<p> <strong> 2)	Les techniques de maniement du temps : </strong> Ces techniques nous servent à
     allonger la durée de la négociation dans le but d’exiger des délais et de fixer des ultimatums.  </p>


<p> <strong> 3)	La technique « point par point » : </strong> Cette technique permet de ne pas
     effrayer l’adversaire et de grignoter petit à petit ses positions.  </p>

<p> <strong> 4)	La technique des bilans : </strong> Cette technique consiste à faire établir par
     l’adversaire tout ce qu’il souhaite obtenir en lui montrant les avantages et les inconvénients. Puis, 
     on présente vos propositions de solution tout en respectant les intérêts des deux parties.  </p>


                </div>


            <!-- ####################### MODULE 4 LECON 11 ################-->
                <div id="onze">
                    <h2>Leçon 11 : Comment faire de la médiation lors des conflits ? </h2>

<p>La médiation est un processus par lequel les parties en conflit font appel à un
     tiers pour essayer de résoudre leur problème. Dans ce cas, le médiateur n’est 
     qu’un relais qui facilite la discussion, guide la conversation ou la provoque. </p>
<strong> Comment faire de la médiation ? <strong>
<p>La médiation est un mode de résolution de conflit au même titre que la négociation. Ce
     mode de résolution de conflit peut être effectué en quatre (4) étapes : </p>
	
 <p> <strong> 1)	Introduction : </strong> Dans cette étape, le médiateur doit être neutre et 
    doit savoir écouter. L’introduction sert à créer une ambiance favorable pour établir les règles 
    et pour préciser le rôle du médiateur.  </p>

  <p> <strong> 2)	Récits : </strong> C’est l’étape dans laquelle chacune des parties aura l’occasion de
     présenter les faits de son point de vue sans aucune interruption. Cette étape exige le savoir écouter du 
     médiateur. Après chaque récit, il/elle demande aux participants ce qu’ils attendent exactement de l’audience et
      résume ensuite tous les aspects essentiels de la question. </p>


 <p> <strong> 3)	Résolution du problème :  </strong>Cette étape exige au médiateur de définir le problème. Dans 
    cette étape, le médiateur reprend individuellement, chacun des différents aspects du conflit et tente d’en dégager
     quelques points d’entente possible. De là, il/elle encourage le dialogue et la coopération entre les parties en conflit. </p>

<p> <strong> 4)	Accord : </strong>Apres les trois premières étapes, l’étape cruciale est l’étape de l’accord. Si les deux parties 
    en conflit sont influences à s’asseoir sur un accord, le médiateur procède à un résumé de l’accord en présence de tous les participants. </p>
<strong>Le médiateur pourra reprendre contact avec les parties quelques jours après pour s’assurer le respect de l’accord. </strong>

                </div>


            <!-- ######################## MODULE 4 LECON 12 ####################-->
                <div id="douze">
                    <h2>Leçon 12 : Comment résoudre les conflits ? </h2>

 <strong>Pour résoudre un conflit, il faut :  </strong>
 <p> <strong> 1)	Trouver le bon moment : </strong> Il faut être sûr que c’est le bon moment de discuter. </p> 

 <p> <strong> 2)	Ecouter le point de vue de chacun : </strong> Cette étape crée de la 
    connexion et développe le respect mutuel. </p>
<p> <strong> 3)	Proposer des solutions : </strong> Il faudra proposer plusieurs
     solutions pour résoudre le conflit. </p>
<p> <strong>4)	Essayer une solution proposée pendant un temps :  </strong>On peut essayer
     une solution qui convient à tous. </p>
<p> <strong>5)	Le suivi :  </strong>Apres avoir fini de trouver la solution, on doit s’assurer 
    que le conflit s’est résolu et que les parties appliquent tous les principes exigés par ladite solution. </p>

                </div>
        </div>
        
    </div>
</div>
{% endblock %}