{% extends "base.html" %}

{% block content %}

<div class="all">
    <div class="general left" id="gch">
        <div class="head-left"><h2><strong>GESTION DE CONFLIT</strong></h2></div>
        

        <div>
            <p id="first" class="design-mod"><strong>MODULE 1:</strong>: Le conflit, ses types, ses lieux et ses sources</p>
            <ul id="chapter">
                <li class="one hide"><strong>Leçon 1:</strong>Qu’est-ce qu’un conflit ? </li>
                <li class="two hide"><strong>Leçon 2:</strong>Quels sont les types de conflits ?</li>
                <li class="three hide" ><strong>Leçon 3:</strong>: Quels sont les lieux et les sources des conflits ?</li>
                <li class="hide"><a href="#">QUIZZ 1</a></li>
            </ul>
        </div>
        <div>
            <p class="design-mod" id="deuxieme"><strong>MODULE 2:</strong>Les attitudes des acteurs dans les conflits et les aspects des conflits</p>
            <ul id="chapter">
                <li class="four nnon1 hiden"><strong>Leçon 4:</strong>Quelles attitudes peut-on avoir dans un conflit ?</li>
                <li class="five none1 hiden"><strong>Leçon 5:</strong>Quels sont les acteurs dans les conflits ?</li>
                <li class="six hiden"><strong>Leçon 6:</strong>Quels sont les aspects que peuvent avoir les conflits ?</li>
                <li class="hiden">QUIZZ 2</li>
            </ul>
        </div>
        <!-- Module 3 -->
        <div>
            <p class="design-mod" id="four-time"><strong>MODULE 3:</strong>L’analyse et la prévention des conflits</p>
            <ul id="chapter">
                <li class="seven cacher"><strong>Leçon 7:</strong>est la différence entre conflit, crise et violence ?</li>
                <li class="heigt cacher"><strong>Leçon 8:</strong>Comment analyser un conflit ?</li>
                <li class="nine cacher"><strong>Leçon 9:</strong>Comment prévenir les conflits ?</li>
                <li class="cacher"><a href="#"><strong>QUIZ 3</strong></a></li>
            </ul>
        </div>

        <!-- module 4 -->
        <div>
            <p class="design-mod" id="seven-time"><strong>MODULE 4:</strong>Modes de résolution de conflits</p>
            <ul id="chapter">
                <li class="ten cacher4"><strong>Leçon 10:</strong>Comment négocier lors des conflits ?</li>
                <li class="onze cacher4"><strong>Leçon 11:</strong>Comment faire de la médiation lors des conflits ?</li>
                <li class="douze cacher4"><strong>Leçon 12:</strong>Comment résoudre les conflits ?</li>
                <li class="cacher4"><a href="#"><strong>QUIZ 4</strong></a></li>
            </ul>
        </div>
    
        <p style="color: red;">NB: Vous pouvez cliquez sur les modules pour reduire les lecons </p>
        
    </div>




    <div class="side right">
        <!-- Creation du bouton qui fermera la partie gauche-->
        <div class="menu-btn" id="first-btn">
            <div class="menu-btn__burger"></div>
        </div>
        
        <div id="result">
            <h2>Bienvenue</h2>
            <p>IDEL VOUS DIT BONJOUR ET NOUS ALLONS FAIRE LA CONNAISSANCE DE PLUSIEURS CHOSES NOUVELLE</p>
        </div>

        <div class="hidden">
            <div id="one">
                <h2> Module 1 : Le conflit, ses types, ses lieux et ses sources </h2>
                               <h3>   Leçon 1 : Qu’est-ce qu’un conflit ? </h3>
<p> <strong>Définition : </strong> Le mot « conflit » n’a pas une définition exacte, le mot a plusieurs acceptions :
     une première qui vient du latin « configere » qui en français signifie « heurter », une deuxième qui vient encore du latin
      'conficture' qui signifie choc. </p> <br>

<p>Selon le petit Larousse 2010, le conflit se définit comme étant un antagonisme, une opposition de sentiments,
     d’opinion entre des personnes et des groupes. Selon ce même ouvrage, dans une conception psychologique le 
     conflit est un antagonisme, opposition de motivation ou des conceptions contradictoires chez une
      même personne ou au sien d’un groupe.</p> <br>

<p>Par ce qu’il est, par ce qu’il fait, par ce qu’il devient, le conflit 
    se définit au sens profond ou authentique, comme l’affrontement de deux ou plusieurs
     volontés individuelles ou collectives qui manifestent les unes à l’égard des autres
      une intention hostile.</p>

            </div>
            <div id="two">
                <h2>Leçon 2 : Quels sont les types de conflit ? </h2>
<p>Il existe plusieurs types de conflit. Un conflit peut être interpersonnel,
 intra personnel, intergroupe, intragroupe et intra organisationnel. </p>
<p> <strong> 1)	Conflit interpersonnel :</strong> Ce type de conflit met deux 
 plusieurs personnes en opposition. Ces deux ou plusieurs personnes qui se perçoivent
  eux-mêmes opposes entre eux au sujet de leurs préférences respectives en matière d’objectifs,
   de valeurs, d’attitudes, de comportements. </p>
 <h4>Il existe plusieurs types de conflit interpersonnel </h4>

<p>• <strong>	Conflit d’intérêt : </strong> Ce type de conflit oppose des groupes considérés comme homogène. On parle de conflit d’intérêt quand il y a divergence sur les résultats de chaque groupe ou personne. </p>

 <p> <strong>•	Conflit de pouvoir :</strong> Le conflit de pouvoir peut appeler également conflit d’autorité, il apparait entre des personnes de même rang hiérarchique qui s’opposent suite à l’empiètement par l’un sur les compétences de l’autre. </p>

  <p><strong>•	Conflit de concurrence :</strong> Ce conflit de rivalité est le plus souvent présent dans certains métiers ou certaines professions où la compétitivité, la recherche du temps et sa quantification sont rendus nécessaire.</p>

 <p> <strong>•	Conflit d’objectif :</strong> L’incompatibilité des buts, des issues préférées par les différentes parties est la cause principale de ce conflit. </p>
 <p>•	Le malentendu : C’est le plus fréquent des conflits et le plus facile à résoudre. C’est une divergence d’interprétation entre des personnes.</p>


<p> •	Conflit affectif : Dans ce type de conflit interpersonnel, les intéressés se fâchent mutuellement à cause des sentiments ou émotions respectives des parties qui sont opposés. </p>


<p>2)	Conflit intra personnel : Crise interne qui se produit dans l’esprit d’un individu : désirs contradictoires, ambivalence de sentiments.
Ce conflit est causé par des raisons internes, c’est-à-dire cachées dans les contradictions de l’individu ; facteurs externes liés au statut de l’individu dans la société, facteurs externes dus au statut de l’individu dans un groupe social particulier.
Type de conflit intra personnel
<p>•	Conflit d’acceptation : Conflit dans lequel l’individu doit choisir entre deux ou plusieurs options qui conduisent à des résultats positifs.</p>


<p>•	Conflit d’évitement des choses : Conflit dans lequel l’individu doit choisir entre deux ou plusieurs options qui auront toutes des résultats négatifs.</p>


<p>•	Conflit entre acceptation et évitement : Conflit dans lequel un individu doit décider de faire ou de ne pas faire une chose qui aura des conséquences simultanément négatives ou positives. </p>


<p>3)	Conflit intergroupe : Situation dans laquelle, il existe des désaccords et des heurts entre deux ou plusieurs groupes comme par exemple syndicat et direction, deux services distincts ou plusieurs entités
<p>Le conflit intergroupe se rapproche du conflit interpersonnel</p>

<h2>Type de conflit intergroupe</h2> 
<p>•	Conflit culturel : C’est un type de conflit mettant en opposition des groupes voulant imposer leur propre modèle culturel. Il relève également des différences de valeurs ou de croyances des antagonistes.</p>


<p>•	Conflit de génération : Ce genre de conflit est très remarquable au sein des organisations. C’est un conflit qui met en opposition des générations différentes.</p>


<p>4)	Conflit intragroupe : Situation dans laquelle les chocs se produisent entre les membres d’un groupe ou certains d’entre eux. Dans la majorité des cas, des conflits intra personnels et interpersonnels peuvent impliquer dans un conflit intragroupe.
Le conflit intragroupe se rapproche du conflit intra personnel.</p>



<p>5)	Conflit organisationnel : Ce type de conflit concerne les membres d’une organisation ou les employés d’une entreprise. Ce conflit peut être causé par la manière dont les postes de travail sont définis, par la structure de l’organisation, par la répartition de l’autorité officielle.</p>

<h2>Type de conflit organisationnel</h2>
<p>•	Conflit vertical : Ce conflit résulte des heurts qui surviennent entre différents niveaux d’une organisation.</p>


<p>•	 Conflit horizontal : Ce conflit surgit lorsque chaque département s’acharne à poursuivre ses seuls objectifs sans se préoccuper des conséquences que cela entraine pour les autres départements.</p>


<p>•	Conflit relatif aux rôles : Ce conflit se produit quand une personne donnée reçoit des messages et des pressions qu’elle perçoit comme étant incompatible entre eux. </p>

            </div>
            <div id="three">
                <h3>lecon 3</h3>
                <p>qdyudyddjdbdbdddddddddddddddddddddddddddddddddbbdbddbbd
                dhdhhddddddddhdhdhdhdhdhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh
            jjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjj</p>
                
            </div>

            <div id="four">
                <h3>mon cours lecons 4</h3>
                
            </div>

        </div>
        
    </div>
</div>
{% endblock %}