
{% extends "base.html"%}
{% load static %}

{%block content%}

<section id="htr-border">
    <div id="element-row">

        {% for i in cours %}
        <div class="element-column">
            <h3>{{ i.title }}</h3>
            <p>{{ i.description }}</p>
            <!-- <p><img src="{{ i.image.url }}" alt="{{ i.title }}"></p> -->
            <div>
                <p>
                    
                    {% with lien=i.url ok=request.user.myuser.get.course.all %}

                    {% for c in ok %}
                    <a href="{% if c.active and i.id == c.id %}{{lien}}{% else %} {% url 'pin' i.id %} {% endif %}">
                        {% if c.active and i.id == c.id %}Commenser{% else %}Acheter ce cours{% endif %}</a></p>
                    {% endfor %}
        
                    {% endwith %}
                    
            </div>

        </div>
        {% endfor %}

        <!-- <div class="element-column">
            <h3>DEVELOPEMENT PERSONEL </h3>
            <p>En fait, confinement veut dire tout simplement « emprisonnement,
             isolement ou quarantaine ». La grande question qu’on se pose maintenant :
              Comment gérer cette période de confinement ? </p>
              <div>
              <p>  <img style="margin-bottom: 20px; padding-bottom: 25px;"
               src="{% static 'dp.jpg' %}" alt="image corespond au developement personel" class="content-img"> </p>
               </div>
             
             <div>
            <p><a href="{% url 'dev-cours'%}" id="btn-design">COMMENCER</a> </p>
            </div>
        </div>

        <div class="element-column">
            <h3>GESTION DE CONFLIT</h3>
            <p> Ce cours intitulé "conflit “. Comment les prévenir, les gérer et les résoudre ?
                 Est conçu dans le but de permettre au grand public d'acquérir des connaissances sur
                  ce que c'est un conflit  </p>
                  <div>
              <p>  <img style="margin-bottom: 20px; padding-bottom: 25px;"
               src="{% static 'gdc.png' %}" alt="image corespond au gestion de conflit" class="content-img"> </p>
               </div>
            <p><a href="{% url 'gestion-cours'%}" id="btn-design">COMMENCER</a> </p>
        </div> -->

        
    </div>
</section>
  
{%endblock%}