{% extends "base.html" %}

{% block content %}
 
<form method="POST" id="design-pin">
    <input type="text" placeholder="votre PIN d'activativation" name="PIN"> <br>
    {% csrf_token %}
    <button type="submit" id="btn-design">Validation</button>
</form>

<div class="pin-ds">
    <p>Apres avoir payer par l'un des moyen ci-dessous vous allez recevoir un code d'accès</p>
    <p>Pour le moment nous 3 moyen de de payment</p>
    <strong>MON CASH</strong>
    <div class="mon-cash-ds">
    <p>Numero : (+509) 37884517</p>
    <p>Nom: seth REMY</p>
     
    <div>
        
    <h2> Comment acheter le cours </h2>
    <p>1.- Faire le dépôt du montant indiqué par Moncash (plus le frais de la transaction) à partir de votre numéro moncash.</p> 
    <p>2.-  un code d’accès vous sera envoyé sur votre téléphone</p>
    <p>3.- si vous ne recevez pas le code d’accès, appelez sur notre numéro (509)37884517</p>
    </div>

    </div>
</div>

{% endblock %}

