{% extends 'base.html' %}


{% block content%}
<div class="content-all">
<div class="container-all">
    <div class="box1">
        <h2>01</h2>
        <h3>E-LEARNING</h3>
        <p>Nos formations sont accessibles à tous, où vous
             soyez et quand vous voulez. Nous vous offrons la
              possibilité de suivre d
             Développement personnel, le Leadership et 
             l’Entrepreneuriat. <br>
             Nous avons un programme spécial destiné aux entreprises
              privées et publiques qui veulent financer des formations 
              continues à leurs personnels. 
        </p>
    </div>

    <div class="box1">
        <h2>02</h2>
        <h3>COACHING</h3>
        <p>
            C’est un programme d’accompagnement à plusieurs 
            niveaux tant sur le plan personnel que professionnel. <br>
            Nous accompagnons les entrepreneurs de A à Z. Nous vous aiderons à
             monter des plans d’affaires, à élaborer des plans marketing etc… Nous
              avons des experts en finance et en administration qui sont disponibles à vous coacher
             dans la réalisation de vos projets entrepreneurials. <br>
             Nous avons des encadreurs de vie qui vous guiderons dans
              votre vie professionnelle.
        </p>
    </div>

    <div class="box1">
        <h2>03</h2>
        <h3>IDEL OPEN</h3>
        <p>
            IDEL OPEN est un service offert sur notre  plateforme 
            pour donner l’opportunité aux institutions de diffuser des
             cours. Toutes les institutions qui veulent que leurs
              formations soient diffusées
             sur notre plateforme peuvent le faire avec facilité. <br>
             Nous avons mis ce service dans le but de contribuerà l’atteinte du 4eme Objectif
              de Développement Durable « EDUCATION DE QUALITE ». Avec le service : 
              « IDEL OPEN » l’éducation de qualité sera accessible pour tous et à tous.
        </p>
    </div>

</div>
</div>

{%endblock %}