{% extends 'base.html' %}


{% block content%}
<div class="content-all">
<div class="container-all">
    <div class="box1">
        <h2>01</h2>
        <h3>SERVICE ONE</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit, 
            sed do eiusmod tempor incididunt ut labore et dolore
            magma aplica.ut enim ad minin veniam.
        </p>
    </div>

    <div class="box1">
        <h2>02</h2>
        <h3>SERVICE TWO</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit, 
            sed do eiusmod tempor incididunt ut labore et dolore
            magma aplica.ut enim ad minin veniam.
        </p>
    </div>

    <div class="box1">
        <h2>01</h2>
        <h3>SERVICE THREE</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit, 
            sed do eiusmod tempor incididunt ut labore et dolore
            magma aplica.ut enim ad minin veniam.
        </p>
    </div>

</div>
</div>

{%endblock %}