
 .content-all {
     display: flex;
     justify-content: center;
     align-items: center;
     min-height: 100vh;
    background: linear-gradient(#e4f9ff,#12cad6 50%, #fff 50%, #fff 100%);
 }

 .container-all {
     width: 85%;
     display: flex;
     justify-content: space-between;
     flex-wrap: wrap;
 }

 .container-all .box1 {
     position: relative;
     width: 320px;
     background: #fff;
    padding: 100px 40px 60px;
     box-shadow: 0 15px 45px rgba(0,0,0,0.1);
 }

 .container-all .box1::before
 {
     content: '';
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background: #0fabbc;
     transform: scaleY(0);
     transform-origin: top;
     transition: transform 0.5s;
 }

 .content-all .box1:hover::before
 {
    transform: scaleY(1);
    transform-origin: bottom;
    transition: transform 0.5s;
 }

 .container-all .box1 h2
 {
     position: absolute;
     left: 40px;
     top: 60px;
     font-size: 4em;
     font-weight: 800;
     z-index: 1;
     opacity: 0.5;
     transition: 0.5s;
 }

 .content-all .box1:hover h2 {
     opacity: 1;
     color: #fff;
     transform: translateY(-40px);
 }

.container-all .box1 h3
{
    position: relative;
    font-size: 1.5em;
    z-index: 2;
    color: #333;
    transition: 0.5s;
}

.container-all .box1:hover h3,
.container-all .box1:hover p
{
   color: #fff; 
}

.container-all .box1 p
{
    position: relative;
    font-size: 1.5em;
    z-index: 2;
    color: #555;
    transition: 0.5s;
}




.testi 
{
    background: linear-gradient(#aac1c7,#e4f9ff 50%, #fff 50%, #fff 100%);
}

#design-pin {
    margin: 15px;
    padding: 10px;
}

#design-pin input {
    margin: 10px;
    padding: 15px;
    background: rgb(219, 219, 230);
    width: 450px;
    height: 80px;
}


.pin-ds {
    margin: 4px;
    padding: 3px;
}

.pin-ds p {
 font-size: 18px;
}

.mon-cash-ds {
    background: red;
    width: 30%;
    color: white;
    margin: 4px;
    padding: 5px;
}



